/* .oxanium-<uniquifier> {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
   */

:root{
    --gradient-color: linear-gradient(90deg,rgba(5, 0, 71, 1) 0%, rgba(6, 6, 150, 1) 40%, rgba(0, 212, 255, 1) 100%);
}

.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg,rgba(5, 0, 71, 1) 0%, rgba(6, 6, 150, 1) 40%, rgba(0, 212, 255, 1) 100%);
    background-size: 1800% 1800%; 
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
    
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }


*{
    font-family: "Oxanium", sans-serif;
    margin: 0px;
    padding: 0px;
    color: #f7f9fb
}

.gradient{
    /* background: var(--gradient-color); */
    padding: 1%;
}

.nav ul{
    display: flex;
    list-style: none;
    margin-left: 65%;
    padding-top: 1%;
}

.nav ul li{
    margin-left: 18px;
    cursor: pointer;
    position: relative;
}

.nav ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f7f9fb;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav ul li:hover::after{
    width: 100%;
}

.nav ul a{
    text-decoration: none;
}

.card-apresentation{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card-info{
    background-color: #222526;
    display: flex;
    height: 30%;
    width: 45%;
    border-radius: 10px;
    padding: 40px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2%;
    
}

.txt-card{
    color: #f7f9fb;
    margin-left: 10px;   
}

h3{
    color: #f7f9fb;
    font-weight: 100;
    
}

#description{
    text-align: justify;
}

#img-perfil{
    aspect-ratio: 960px, 1087px;
    height: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.div_icon{
    display: grid;
    columns: 1;
    margin-left: 2%;
    padding: 10px;
}

.icon{
    font-size: 2.5rem;
    margin-top: 6px;
    color: transparent;
    background-clip: text;
    /* background-image: linear-gradient(90deg,rgba(5, 0, 71, 1) 0%, rgba(6, 6, 150, 1) 18%, rgba(0, 212, 255, 1) 90%); */
    background-color: rgba(0, 212, 255, 1);
    justify-items: center;
}

.about-content{
    background-color: #222526;
    padding: 30px;
    z-index: -3;
}

.txt-skill{
    margin-left: 24%;
    color: #f7f9fb;
}

.card-skills{
    padding: 10px;
    background-color: #222526;
    border-radius: 8px;
    min-width: 140px;
}

.border-gradient{
    align-items: center;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: visible;
     /* Garante que o ::after não seja cortado */
    margin: 20px
}

/* Borda animada skills - início */
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.border-gradient::after, .border-gradient::before{
    content:"";
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent 60%,rgba(5, 0, 71, 1), rgba(6, 6, 150, 1),rgba(0, 212, 255, 1));
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: inherit; /* Se quiser acompanhar o border-radius */
    box-sizing: border-box; /* Para padding não afetar o tamanho final */
    animation: 2.5s spin linear infinite;
}

.border-gradient::before{
    filter: blur(1.5rem);
    opacity: 1;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
/* Borda animada skills - final */

.txt-card-skill{
    color: #f7f9fb;
    font-weight: 600;
}

.centralize-container{
    display: flex;
    justify-content:center;
}

.skill-content{
    width: 50%;
    display: flex;
    justify-content:center;
}

.time-line-container{
    text-align: center;
    padding: 8%;
}

.time-line-title{
    margin-bottom: 40px;
}


.centralize{
    justify-items: center;
    margin-left: 50px;
}

.time-line-text{
    max-width: 55%;
    display: flex;
    text-align: center;
    align-items: center;
    height: 140px;
}

.time-line-year{
    padding: 40px 20px 40px 20px;
    border-right: 3px solid rgba(5, 0, 71, 1);
    border-radius: 12px;
}

.time-line-p{
    text-align: justify;
    padding-left: 20px;
}

.time-line-position{
    color: #f7f9fb;
    text-align: left;
    padding: 20px 20px 0px 20px;
}

.time-line-border{
    border-left: 3px solid rgba(0, 212, 255, 1);
    padding: 10px 0px 10px 0px;
    border-radius: 12px;
}

.time-line-position{
    font-size: 16px;
}

footer{
    color: #19181A;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .card-info{
        display:flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: center;
    }

    .card-info img{
        margin-bottom: 10px;
    }

    .card-apresentation {
        flex-wrap: wrap;
        gap: 20px;
    }

    .div_icon{
        display: flex;
        margin-left: 0px;
    }

    .div_icon a{
        margin-left: 15px;
    }

    .centralize{
        margin: 0px;
    }

    .time-line-text{
        flex-direction: column;
        align-items: flex-start;
        min-height: 250px;
    }

    .time-line-border{
        padding: 0px;
    }

    .time-line-year{
        padding: 20px 10px 0px 20px;
        border-bottom: 3px solid rgba(5, 0, 71, 1);
        border-right: 0px;
        border-radius: 8px;
    }

    .time-line-p{
        padding-left: 10px;
    }
    
    .time-line-position{
        padding: 10px 10px 0px 10px;
        border-top: 3px solid rgba(0, 212, 255, 1);
        border-radius: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .nav ul{
        display: flex;
        margin-left: 0;
        padding-top: 2%;
        justify-content: center;
    }
    
    .card-info{
        width: 80%;
    }

    .skill-content{
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .txt-skill{
        margin-left: 12%;
    }

    .time-line-text{
        max-width: 580px;
        height: 180px;
    }

    .time-line-border{
        padding: 0px;
    }
}